.navbar{
    background-color: #000000;
    .container-fluid{
        display: flex;
        .navbar-collapse{
            flex-direction: row-reverse;
            .navbar-nav{
                .nav-item{
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                   .nav-link{
                        color: white;
                   }
                }
            }
        }
    }
}