.quienes-somos{
    padding: 50px;
    text-align: center;
    background-color: #f3f3f3;
    color: rgb(48, 48, 48);
    .quienes-somos-h1{
        font-weight: bold;
        text-transform: uppercase;
    }
}