@import "navbar";
@import "quienessomos";
@import "servicios";
@import "form";
@import "footer";

*{
    margin: 0%; 
    padding: 0%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    li{
        list-style: none;

        a{
            text-decoration: none;
        }
    }
}