.navbar {
  background-color: #000000;
}

.navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container-fluid .navbar-collapse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: white;
}

.quienes-somos {
  padding: 50px;
  text-align: center;
  background-color: #000000;
  color: white;
}

.quienes-somos .quienes-somos-h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.servicios .servicios-text {
  text-align: center;
  padding: 40px;
}

.servicios .servicios-text h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.servicios .servicios-text p {
  font-size: 1.5rem;
}

.servicios .lista-servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  list-style: none;
  margin-bottom: 3rem;
}

.servicios .lista-servicios .titulo-s {
  margin-bottom: 10px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servicios .lista-servicios .titulo-s .lista {
  list-style: none;
}

.servicios .lista-servicios .titulo-s .lista li {
  font-weight: normal;
}

.servicios .lista-servicios .titulo-s .lista-2 {
  list-style: none;
  font-weight: normal;
}

.servicios-text {
  text-align: center;
  padding-top: 20px;
}

.servicios-text h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.servicios-text p {
  font-size: 1rem;
}

@media (max-width: 472px) and (min-width: 300px) {
  .servicios .lista-servicios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicios .lista-servicios .lista {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .servicios .lista-servicios {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.form-input {
  background-color: #94b634;
  padding: 10px 40px 10px 40px;
}

.form-input .datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input .datos input {
  height: 50px;
  margin-bottom: 25px;
}

.form-input .button-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.form-input .button-s .submit {
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f3f3f3;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  width: 200px;
}

.form-input .button-s .submit:hover {
  background-color: black;
  color: white;
}

.form-input .form-text {
  text-align: center;
  padding: 15px;
  color: black;
}

.form-input .form-text h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.form-input .form-text p {
  font-size: 1.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.footer .footer-logo img {
  width: 120px;
}

.footer .footer-social {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}

.footer .footer-social a p {
  margin: 0;
  padding-left: 10px;
}

.footer .footer-social a i {
  color: #94b634;
}

@media (max-width: 472px) and (min-width: 300px) {
  .footer .footer-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer-social a {
    padding-bottom: 10px;
  }
  .footer .footer-social a p {
    font-size: 13px;
    margin-left: 5px;
  }
  .footer .footer-social a i {
    width: 20px;
  }
}

@media (max-width: 1023px) and (min-width: 767px) {
  .footer .footer-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer-social a {
    padding-bottom: 10px;
  }
  .footer .footer-social a p {
    font-size: 18px;
    margin-left: 10px;
  }
  .footer .footer-social a i {
    width: 20px;
  }
}

.cards-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-t .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body ul li {
  list-style: none;
}

body ul li a {
  text-decoration: none;
}
/*# sourceMappingURL=sass.css.map */